* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    max-width: 1440px;
    margin: 2em auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.image-column,
.text-column {
    width: 50%;
}

.image-container {
    max-width: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    background-color: #bbf2d1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.product-title {
    color: #1e3932;
    font-size: 3.125em;;
    letter-spacing: 2px;
    line-height: 2;
}

.product-description {
    font-size: 24px;
}

.order-button {
    border: 1px solid #1E3932;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    color: #1E3932;
    margin-top: 10px;
}

.order-button:hover {
    background-color: #1E39321A;
}
