* {
    margin: 0;
    padding: 0;
}

h1 {
    color: grey;
}

.outer {
    display: flex;
    flex-wrap: wrap; /* Enable flex container to wrap its children */
    width: 100%;
    /* align-items: center; */
    text-align: center;
    /* min-height: 100vh; */
}

.middle {
    width: 50%;
}

#img-1 .image-container {
    max-width: 100%;
    overflow: hidden;
}

#img-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bck-1 {
    background-color: aquamarine; /* Apply background color to the whole column */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}